@model List<Order>

@helper getCloseBtn(OrderStatusEnum status) {
	if(status == OrderStatusEnum.Confirming) {
		<button class="btn btn-transparent btn-material btn-close-order">取消订单</button>
	}
	else if(status == OrderStatusEnum.OnGoing) {
		<button class="btn btn-default btn-material btn-close-order" disabled>如要取消，请联系客服</button>
	}
	else if(status == OrderStatusEnum.Completed || status == OrderStatusEnum.Failed) {
		<button class="btn btn-transparent btn-material btn-close-order">关闭订单</button>
	}
	else if(status==OrderStatusEnum.Closed){
		<button class="btn btn-default btn-material btn-close-order" disabled>已关闭</button>
	}
}

@if(Model == null || Model.Count == 0) {
	<div class="col-sm-12 text-center col-order">
		<div class="well well-blank well-sm">
			<p class="lead no-margin-bottom">未发现订单</p>
		</div>
	</div>
}
else {
	foreach(Order order in Model) {
		<div class="col-sm-12 col-order">
			@if(order.OrderType == OrderTypeEnum.Get) {
				<div class="well well-blank well-no-padding well-order-get">
					<div class="well-heading">
						<div class="row">
							<div class="col-xs-6">
								<p class="lead no-margin-bottom"><i class="fa fa-cloud-download"></i> 取件单<small>(单号：@order.OrderId)</small></p>
							</div>
							<div class="col-xs-6 text-right" data-orderid="@order.OrderId">
								@getCloseBtn(order.OrderStatus)
							</div>
						</div>
					</div>
					<div class="well-content">
						<div class="row">
							<div class="col-md-4 order-info-left-decoration">
								<p><b>下单时间：</b>@order.StartTime</p>
								<p><b>上门时间：</b>@Utility.FormatTime(order.Time)</p>
								<p><b>上门地址：</b>@order.Address</p>
								<p><b>联系电话：</b>@order.Phone</p>
							</div>
							<div class="col-md-4 order-info-left-decoration">
								<p><b>快递公司：</b>@order.ExpressCompany.Discription</p>
								<p><b>快递号：</b>@order.ExpressNo</p>
							</div>
							<div class="col-md-4 order-info-left-decoration">
								@if(@order.Remark != null) {
									<p><b>备注：</b>@order.Remark</p>
								}
								@if(@order.AdminRemark != null) {
									<p class="text-danger"><b>客服备注：</b>@order.AdminRemark</p>
								}
							</div>
							<div class="col-md-12">
								<div class="progress no-margin-bottom">
									@Html.Partial("_PartialOrderStatusProgress", order.OrderStatus)
								</div>
							</div>
						</div>
					</div>
				</div>
			}
			else {
				<div class="well well-blank well-no-padding well-order-send">
					<div class="well-heading">
						<div class="row">
							<div class="col-xs-6">
								<p class="lead no-margin-bottom"><i class="fa fa-cloud-upload"></i> 寄件单<small>(单号：@order.OrderId)</small></p>
							</div>
							<div class="col-xs-6 text-right" data-orderid="@order.OrderId">
								@getCloseBtn(order.OrderStatus)
							</div>
						</div>
					</div>
					<div class="well-content">
						<div class="row">
							<div class="col-md-4">
								<p>下单时间：@order.StartTime</p>
							</div>
							<div class="col-md-4">
								<p>快递公司：@order.ExpressCompany.Discription</p>
							</div>
							<div class="col-md-4">
								<p>上门地址：@order.Address</p>
							</div>
							<div class="col-md-4">
								<p>联系电话：@order.Phone</p>
							</div>
							<div class="col-md-4">
								<p>目的地址：@order.ToAddress</p>
							</div>
							<div class="col-md-4">
								<p>取件人姓名：@order.ToName</p>
							</div>
							@if(@order.Remark != null) {
								<div class="col-md-12">
									<p>备注：@order.Remark</p>
								</div>
							}
							@if(@order.AdminRemark != null) {
								<div class="col-md-12">
									<p class="text-danger">客服备注：@order.AdminRemark</p>
								</div>
							}
							<div class="col-md-12">
								<div class="progress no-margin-bottom">
									@Html.Partial("_PartialOrderStatusProgress", order.OrderStatus)
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	}
}

